body {
    background-color:#FBFCF8;
    margin: 0;
}

.main_header {
    display: flex;
}

.search_bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin-left: 15%;
}

input {
    height: 25px;
}

.main_header {
    height: 150px;
    background-color: darkslategray;
    margin-bottom: 50px;
}

.photo_gallery {
    display: inline-grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    text-align: center;
    grid-template-columns: auto;
}

.thumb img {
    border-radius: 20%;
    border: solid .5px black;
    transition-duration: 300ms;
    
}

.thumb img:hover {
    transform: scale3d(1.1, 1.1, .5);
    border-color:lightgreen;
    box-shadow: 20px 10px 5px rgb(118, 126, 118);
}

#main {
    text-align: center;
}

@media (min-width: 480px) {
.photo_gallery {
    grid-template-columns: auto auto;  
}
.search_bar {
    width: 75%;
    margin-left: 12.5%;
}

}

@media (min-width: 768px) {
.photo_gallery {
    grid-template-columns: auto auto auto;  
}
.search_bar {
    width: 60%;
    margin-left: 20%;
}
}

@media (min-width: 1400px) {
.photo_gallery {
    grid-template-columns: auto auto auto auto;  
}

.search_bar {
    width: 30%;
    margin-left: 35%;
}
}